@import '../../mixin.scss';

.modal-details-student {
  
  
  .modal-body {
    padding: 25px;
  }

  .modal-header {
    border: 0 solid transparent;
    padding: 25px;
  }
  h4 {
    color: $gray_texts2;
    font-size: 1.5rem;
  }

  .modal-body {
    
    label {
      color: $gray_texts2;
    }

    p {
      color: $gray_icons;
      font-size: 14px;
      font-weight: 300;
    }
  }
}