@import '../../mixin.scss';

.modal-success-user {
  .modal-content {
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1000px) {
      padding: 50px;
    }

    h3 {
      color: $gray_texts2;
      margin-bottom: 40px;
      text-align: center;
      margin-top: 25px;
      margin-bottom: 0;
    }
  }
}