$red: #ff4141;

$red_text_select: #630000;

$yellow: #fdd660;

$yellow_text_select: #674d00;

$gray_strokes: #f0f0f0;

$gray_texts: #bebebe;

$gray_icons: #8e8e8e;

$gray_texts2: #505050;

$gray_input: #f5f5f5;

$main: #e66345;

$main_hover: #e9775d;

$main_text_select: #e24a28;

$green: #18b087;

$green_hover: #148e6d;

$green_text_select: #00523c;

$gray: #e1e1e1;

$gray_hover: #bebebe;

$white: #fff;
