@import '../../mixin.scss';

.container-settings {
  padding: 0px !important;
  // height: 80vh;

  .container-loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    color: $gray_texts2;
    margin-bottom: 0 !important;
    font-size: 24px;
  }

  form {
    margin-right: 30px;
    margin-bottom: 20px;

    .form-white.search {
      margin-bottom: 0;
      width: 500px;
      padding-left: 45px !important;
      animation-timing-function: linear;

      @media screen and (max-width: 850px) {
        width: 200px;
      }
      @media screen and (max-width: 400px) {
        width: 150px;
      }
    }

    .input-container {
      position: relative;
      img {
        position: absolute;
        padding: 15px;
      }
    }
  }

  .white-button {
    @media screen and (max-width: 850px) {
      font-size: xx-small;
      padding: 15px;
      
      svg {
        height: 15px;
        width: 15px;
      }
    }

    @media screen and (max-width: 350px) {
      font-size: 0;
      padding: 15px;
      
      svg {
        margin-right: 0;
      }
    }
  }

  .form-edit-create-user {
    margin: 10px 0;

    .col {
      padding-left: 0;
      .form-white {
        margin-bottom: 10px;
        width: 100%;
      }
    }

    .row {
      margin-top: 16px;
      .tertiary-button {
        margin-right: 30px;
        padding: 14px 26px;
      }
      .secundary-button {
        padding: 14px 45px;
      }
    }
  }
}